<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= employee.cpf %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= employee.birthdate %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= employee.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= employee.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= employee.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= employee.zip_code %>
  </p>

  <p>
    <strong>Personal phone:</strong>
    <%= employee.personal_phone %>
  </p>

  <p>
    <strong>Reference phone:</strong>
    <%= employee.reference_phone %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= employee.salary %>
  </p>

  <p>
    <strong>Inss discount:</strong>
    <%= employee.inss_discount %>
  </p>

</div>
