<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<%= render @employee %>

<div class="d-flex justify-content-between">
  <%= link_to I18n.t('common.back'), employees_path %>
  <%= link_to I18n.t('employees.edit.title'), edit_employee_path(@employee), class: "btn btn-primary" %>
</div>

<hr>

<div class="d-flex flex-row-reverse">
  <%= button_to I18n.t('employees.destroy.title'), @employee, method: :delete, class: "btn btn-danger" %>
</div>